<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="region_name">Название:</label>
    <input type="text" id="region_name" class="form-control" placeholder="Название"
           name="region[name]" value="<%= @region.name %>">
  </div>
  <div class="form-group">
    <label for="region_country_id">Страна:</label>
    <select id="region_country_id" class="form-control" name="region[country_id]">
      <% @countries.each do |item| %>
      <option value="<%= item.id %>" <% if item.id == @region.country_id %>selected="selected"<% end %>><%= item.name %></option>
      <% end %>
    </select>
  </div>
  <div class="actions">
    <button class="btn btn-primary" type="submit"><% if @is_edit %>Изменить<% else %>Добавить<% end %></button>
    <button class="btn btn-default" type="reset" >Очистить</button>
  </div>
<% end %>
