
<%# Скрипт управления выводом регионов в зависимости от выбранной страны %>
<script>

  // Модуль создания города
  var createCityApp = angular.module('createCityApp', []);

  // Инициализация выпадающих списков
  createCityApp.controller('CountryInit', function($scope){
      $scope.countries = [
          <% @countries.each do |item| %>
          {'id': '<%= item.id %>', 'name': '<%= item.name %>', 'regions': [
                  <% item.ui_regions.each do |it| %>
              {'name': '<%= it.name %>', 'id': '<%= it.id %>'},
                  <% end %>
          ] },
          <% end %>
      ];

      $scope.region_options = [];

      $scope.change_country = function() {
          for (var i = 0; i < $scope.countries.length; i++) {
              if ($scope.countries[i].id == $scope.select_country) {
                  $scope.region_options = $scope.countries[i].regions;
                  break;
              }
          }
      }
  });
</script>

<%= form_for(@city, :html => {'ng-app' => 'createCityApp'}) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<span ng-controller="CountryInit">
    <div class="form-group">
      <label for="city_name">Название:</label>
      <input type="text" id="city_name" class="form-control" placeholder="Название"
             name="city[name]" value="<%= @city.name %>">
    </div>
    <div class="form-group">
      <label for="country">Страна:</label>
      <select id="country" class="form-control" ng-model="select_country" ng-change="change_country()">
        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="city_region_id">Регион:</label>
      <select id="city_region_id" name="city[region_id]" class="form-control"
              ng-model="regions" ng-options="obj.id as obj.name for obj in region_options">
      </select>
    </div>
    <div class="form-group">
      <label for="city_phone_code">Код города:</label>
      <input type="text" id="city_phone_code" class="form-control" placeholder="Код города"
             name="city[phone_code]" value="<%= @city.phone_code %>">
    </div>
    <button class="btn btn-primary" type="submit">Добавить</button>
    <button class="btn btn-default" type="reset" >Очистить</button>
</span>
<% end %>
