<%= form_for(@country, :role => 'form') do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Название:', :for => :name %>
    <%= f.text_field :name, :class => 'form_control', :placeholder => 'Название' %>
  </div>
  <div class="form-group">
    <%= f.label 'Код страны:', :for => :phone_code %>
    <%= f.text_field :phone_code, :class => 'form_control', :placeholder => 'Код страны' %>
  </div>
  <a href="#">Добавить</a>
  <a href="#">Очистить</a>
<% end %>
