
<div>
<%= form_for(@country, :role => 'form') do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="country_name">Название:</label>
    <input type="text" id="country_name" name="country[name]" class="form-control" 
        placeholder="Название" required="required" value="<%= @country.name %>">
  </div>
  <div class="form-group">
    <label for="index">Код страны:</label>
    <input type="text" id="country_phone_code" name="country[phone_code]" 
        class="form-control" placeholder="Код страны" required="required" value="<%= @country.phone_code %>">
  </div>
  <button class="btn btn-primary" type="submit"><% if @is_edit %>Изменить<% else %>Добавить<% end %></button>
  <button class="btn btn-default" type="reset" >Очистить</button>
<% end %>
</div>