<%# Скрипт управления выводом регионов и городов в зависимости от выбранных страны и региона соответственно %>
<script>

  // Список стран
  var countries = [
      <% @countries.each do |item| %>
      {'id': '<%= item.id %>', 'name': '<%= item.name %>', 'code': '<%= item.phone_code %>', 'regions': [
          <% item.ui_regions.each do |it| %>
          {'name': '<%= it.name %>', 'id': '<%= it.id %>'},
          <% end %>
      ] },
      <% end %>
  ];

  // Список регионов
  var regions = [
      <% @regions.each do |item| %>
      {'id': '<%= item.id %>', 'name': '<%= item.name %>', 'country_id': '<%= item.country_id %>', 'cities': [
          <% item.ui_cities.each do |it| %>
          {'name': '<%= it.name %>', 'id': '<%= it.id %>'},
          <% end %>
      ]},
      <% end %>
  ];
  // Список городов
  var cities = [
          <% @cities.each do |item| %>
      {'id': '<%= item.id %>', 'name': '<%= item.name %>', 'code': '<%= item.phone_code %>' },
          <% end %>
  ];

  // Для изменений
  is_edit = <% if @is_edit %>true<% else %>false<% end %>;
  <% if @is_edit %>
  city_value = <%= @hostel.city_id %>;
  region_value = <%= @hostel.city.region_id %>
  country_value = <%= @hostel.city.region.country_id %>
  <% end %>
</script>

<%= form_for(@hostel) do |f| %>
  <% if @hostel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hostel.errors.count, "error") %> prohibited this hostel from being saved:</h2>

      <ul>
      <% @hostel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <!-- inputs -->
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputCountry" class="control-label">Страна*:</label>
              <select id="inputCountry" class="form-control">
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputRegion" class="control-label">Регион*:</label>
              <select id="inputRegion" class="form-control">
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="hostel_city_id" class="control-label">Город*:</label>
              <select id="hostel_city_id" name="hostel[city_id]" class="form-control">
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="hostel_name" class="control-label">Название*:</label>
          <input type="text" id="hostel_name" class="form-control"
                 name="hostel[name]" placeholder="Название турбазы" value="<%= @hostel.name %>">
        </div>
        <div class="form-group">
          <label for="hostel_description" class="control-label">Описание*:</label>
          <textarea id="hostel_description" name="hostel[description]"class="form-control" rows="7">
            <%= @hostel.description %>
          </textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="hostel_phone" class="control-label">Телефон*:</label>
              <span id="c_code"></span><span id="ct_code"></span><input id="hostel_phone" type="tel" class="form-control"
                     name="hostel[phone]" placeholder="12-23-34" value="<%= @hostel.phone %>">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="hostel_email" class="control-label">e-mail*:</label>
              <input type="email" id="hostel_email" class="form-control"
                     name="hostel[email]" placeholder="email@email.com" value="<%= @hostel.email %>">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="hostel_address" class="control-label">Адрес*:</label>
          <input id="hostel_address" class="form-control" type="text"
                 name="hostel[address]" value="<%= @hostel.address %>" placeholder="Адрес турбазы">
        </div>
      </div>
    <!-- avatar -->
  <div class="col-md-4">
    <div class="form-group">
      <img src="<%= @hostel.photo_string %>" width="235" height="235">
      <input type="file" id="hostel_photo_string" name="hostel[photo_string]"
             value="<%= @hostel.photo_string %>" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit"><% if @is_edit %>Изменить<% else %>Добавить<% end %></button>
    </div>
  </div>
</div>
<% end %>
